/* change the background color */
.navbar-custom {
    background-color: #FF0000;
}
    .navbar-custom .navbar-nav .nav-link:hover {
        background-color: #00FF00
    }
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(0,0,0,.8);
    }
/* change the link color black*/
.navbar-custom .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
}
    .navbar-custom .navbar-nav .nav-link:hover {
        color: #FF0000;
    }
/* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #FF0000;
        background-color: #00FF00
    }

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0055aa;
    color: rgba(255,255,255,.8);
    text-align: center;
}